<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cas.intelamp.dao.RDevicePlanMapper" >
  <resultMap id="BaseResultMap" type="com.cas.intelamp.model.RDevicePlan" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="device_no" property="deviceNo" jdbcType="VARCHAR" />
    <result column="plan_id" property="planId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, device_no, plan_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from r_device_plan
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from r_device_plan
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cas.intelamp.model.RDevicePlan" >
    insert into r_device_plan (id, device_no, plan_id
      )
    values (#{id,jdbcType=INTEGER}, #{deviceNo,jdbcType=VARCHAR}, #{planId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cas.intelamp.model.RDevicePlan" >
    insert into r_device_plan
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="deviceNo != null" >
        device_no,
      </if>
      <if test="planId != null" >
        plan_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="deviceNo != null" >
        #{deviceNo,jdbcType=VARCHAR},
      </if>
      <if test="planId != null" >
        #{planId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cas.intelamp.model.RDevicePlan" >
    update r_device_plan
    <set >
      <if test="deviceNo != null" >
        device_no = #{deviceNo,jdbcType=VARCHAR},
      </if>
      <if test="planId != null" >
        plan_id = #{planId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cas.intelamp.model.RDevicePlan" >
    update r_device_plan
    set device_no = #{deviceNo,jdbcType=VARCHAR},
      plan_id = #{planId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>